{% include 'admin_header.html' %}
<div class="Modern-Slider">
          <div class="item">
                <img src="/static/assets/images/slide-01.jpg" width="100%" height="70px">
                <div class="text-content"><br>
                </div></div></div>
                <br><br><center>
<h2>Slots Details</h2><br>
{% if data['ss'] %}
<table class="table" style="width:500px; text-align: center">
	<tr>
		<th>Sl.No</th>
		<th>Day</th>
		<th>From Time</th>
		<th>to Time</th>
		<th>Amount</th>
	</tr>
	{% for row in data['ss'] %}
	<tr>
		<td>{{ loop.index }}</td>
		<td>{{ row['day'] }}</td>
		<td>{{ row['from_time'] }}</td>
		<td>{{ row['to_time'] }}</td>
		<td>{{ row['amount'] }}</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<h2>No slots Added Yet</h2>
{% endif %}
</center><br><br>
{% include 'footer.html' %}