{% include 'homeheader.html' %}
<div class="Modern-Slider">
          <div class="item">
                <img src="/static/assets/images/slide-01.jpg" width="100%" height="70px">
                <div class="text-content"><br>
                </div></div></div>
                <br><br><br>


<center>
	<h2>Login</h2>
	<form method="post">
	<table class="table" style="width: 500px">
		<tr>
			<td>Username </td>
			<td><input type="text" class="form-control" required name="uname"></td>
		</tr>
		<tr>
			<td>Password </td>
			<td><input type="password" required class="form-control" name="passs"></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input class="btn btn-success" type="submit" name="submit" value="Login"></td>
		</tr>
	</table>
	</form>
</center><br><br><br>
{% include 'footer.html' %}