{% include 'turf_header.html' %}
<div class="Modern-Slider">
          <div class="item">
                <img src="/static/assets/images/slide-01.jpg" width="100%" height="70px">
                <div class="text-content"><br>
                </div></div></div>
                <br><br><center>
	<h1>Payment Details</h1>
	{% if data['pay'] %}
	<table class="table">
		<tr>
			<th>Sl.No</th>
			<th>Customer Name</th>
			<th>Amount</th>
			<th>Mode of Payment</th>
			<th>Date</th>
		</tr>
		{% for r in data['pay'] %}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{r['name']}}</td>
			<td>{{r['amount']}}</td>
			<td>{{r['payment_mode']}}</td>
			<td>{{r['date_time']}}</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<h2>No Payment History</h2>
	{% endif %}
</center><br><br>
{% include 'footer.html' %}