{% include 'turf_header.html' %}
<div class="Modern-Slider">
          <div class="item">
                <img src="/static/assets/images/slide-01.jpg" width="100%" height="70px">
                <div class="text-content"><br>
                </div></div></div>
                <br><br><center>
{% if data['reviews'] %}<br>
	<h1>Customer Reviews</h1>
	<table class="table" style="width:500">
		<tr>
			<th>Sl.No</th>
			<th>Customer Name</th>
			<th>Rate</th>
			<th>Review</th>			
		</tr>
		{% for row in data['reviews'] %}
		<tr>
			<td>{{ loop.index }}</td>
			<td>{{ row['name'] }}</td>
			<td>{{ row['rate'] }}</td>
			<td>{{ row['review'] }}</td>
		</tr>
		{% endfor %}
	</table>
{% else %}
<h1>No reviews</h1>
{% endif %}
</center><br><br>
{% include 'footer.html' %}