{% include 'turf_header.html' %}
<div class="Modern-Slider">
          <div class="item">
                <img src="/static/assets/images/slide-01.jpg" width="100%" height="70px">
                <div class="text-content"><br>
                </div></div></div>
                <br><br><center>
	<h1>Match Scheduling</h1><br>
	{% if data['match'] %}
	<table class="table">
		<tr>
			<th>Sl.No</th>
			<th>Customer Name</th>
			<th>Selected day</th>
			<th>Selected Time</th>
			<th></th>
		</tr>
		{% for row in data['match'] %}
		<tr>
			<td>{{ loop.index }}</td>
			<td>{{ row['name'] }}</td>
			<td>{{ row['day'] }}</td>
			<td>{{row['from_time']}} to {{row['to_time']}}</td>
			<td>
				<a class="btn btn-info" href="turf_match_detail?match_id={{row['match_id']}}&id={{ row['user_id'] }}">View Details</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}<br>
	<h3 style="color:orange">No Matches Scheduled</h3>
	{% endif %}
</center><br><br>
{% include 'footer.html' %}