<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.turfbooking">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/loo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:roundIcon="@drawable/loo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TurfBooking"
        tools:targetApi="31">
        <activity android:name=".Userviewtrainings"></activity>
        <activity android:name=".Userviewcoachrequest" />
        <activity android:name=".Userviewcoaches" />
        <activity android:name=".Payment" />
        <activity android:name=".Review" />
        <activity android:name=".MatchRequest" />
        <activity android:name=".Matches" />
        <activity android:name=".Usermakepayment"/>
        <activity android:name=".ScheduleMatches" />
        <activity android:name=".Videos" />
        <activity android:name=".VideoPlay" />
        <activity android:name=".TurfGallery" />
        <activity android:name=".ChatHere" />
        <activity android:name=".SendComplaint" />
        <activity android:name=".Bookings" />
        <activity android:name=".ViewFaccilities" />
        <activity android:name=".ViewSlots" />
        <activity android:name=".ViewTurf" />
        <activity android:name=".Register" />
        <activity android:name=".Homepage" />
        <activity android:name=".User_Send_feedback" />
        <activity android:name=".Login" />
        <activity android:name=".Ipsettings"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <service android:name=".LocationService" />
    </application>


</manifest>